.background {
    position: relative;
width: 1152px;
height: 700px;

background: #370617;
}

.container {
    border:purple;
    background-color: silver;
    display: flex;
    position: absolute;
    width: 468px;
    height: 160px;
    
}

.card { 
position: absolute;
width: 468px;
height: 160px;
left: 98px;
top: 90px;
}
